[Desktop Entry]
Name=Blender
GenericName=3D modeler
Comment=3D modeling, animation, rendering and post-production
Keywords=3d;cg;modeling;animation;painting;sculpting;texturing;video editing;video tracking;rendering;render engine;cycles;python;
Exec=sh -c "wrapper-freebsd -j 'blender' -a 'blender' -c "${HOME}/podman/freebsd-cuda/containers/graphics/blender/compose.yaml" -e "${HOME}/podman/freebsd-cuda/containers/video/graphics/blender/.env" %f"
Icon=blender
Terminal=false
Type=Application
PrefersNonDefaultGPU=true
Categories=Graphics;3DGraphics;
MimeType=application/x-blender;
StartupWMClass=Blender
